* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header span {
  font-size: 20pt;
  margin: 10px auto;
}

header ul {
  list-style: none;
}

.linha {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.App {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}
